.wrapper{
    background-color: #333;
    position: relative;
    color:#fff;
    padding-top:56%;
}
.video{
    position: absolute;
    top:0;
    left:0;
    height:100%;
}
.overview{
    user-select: none;
    position: absolute;
    top:240px;
    left:100px;  
    align-items: center;
    width:85%;
    @media screen and (max-width:800px){
        top:120px;
        left:25px;
        width:92%;
    }
    @media screen and (max-width:300px){
        top:20px;
        left:15px;
        width:92%;
    }
}
.flex{
    display:flex;
    align-items: baseline;
    width:100%;
    justify-content: space-between;
}
.icon{
    @media screen and (max-width:300px){
    font-size: 20px;
    }
    color:rgba(255, 255, 255, 0.822);
    cursor: pointer;
    font-size: 30px;
    transition: all 0.3s ease;
    transform: scale(1);
    border-radius: 15px;
    &:hover{
        color:rgb(255, 255, 255);
        transform: scale(1.2);
        background-color: rgba(211,211,211,0.5);
        border-radius: 15px;
    }
}
.title{
    @media screen and (max-width:800px){
        font-size: 50px;
    }
    @media screen and (max-width:300px){
        font-size:30px;
    }
    font-size: 70px;
}
.info{
    @media screen and (max-width:800px){
        font-size: 20px;
    }
    @media screen and (max-width:300px){
        font-size:10px;
    }
}
.bottom{
    position: absolute;
    bottom:0;
    width:100%;
    height:100px;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(15,15,15,0.6) 40%,
        rgb(17,17,17),
         rgb(17,17,17)
    );
}